.bordered-list{
    font-family: monospace;
    font-weight: bold;
    font-size: 16px;
    background-color: white;
    border: 2px solid black;
    color: black;
    padding: 6px 14px;
    border-radius: 64px;
    display: inline-block;
    margin: 5px 2px;
}

.bold{
    background-color: black!;


}

.classic-container{ 
    display: inline-block;
    max-width: 550px;
    padding: 12px 20px 12px 20px;
    border-radius: 32px;
    
}

.header{
    font-family: monospace;
    font-size: 24px;
    padding-left: 4px;
    margin: 12px 0px 12px 0px;
}   

